=begin
#validateapi

#The validation APIs help you validate data. Check if an E-mail address is real. Check if a domain is real. Check up on an IP address, and even where it is located. All this and much more is available in the validation API.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: unset

=end

require "uri"

module CloudmersiveValidateApiClient
  class PhoneNumberApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Validate phone number (basic)
    # Validate a phone number by analyzing the syntax
    # @param value Phone number to validate in a PhoneNumberValidateRequest object.  Try a phone number such as \&quot;1.800.463.3339\&quot;, and either leave DefaultCountryCode blank or use \&quot;US\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberValidationResponse]
    def phone_number_syntax_only(value, opts = {})
      data, _status_code, _headers = phone_number_syntax_only_with_http_info(value, opts)
      return data
    end

    # Validate phone number (basic)
    # Validate a phone number by analyzing the syntax
    # @param value Phone number to validate in a PhoneNumberValidateRequest object.  Try a phone number such as \&quot;1.800.463.3339\&quot;, and either leave DefaultCountryCode blank or use \&quot;US\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberValidationResponse, Fixnum, Hash)>] PhoneNumberValidationResponse data, response status code and response headers
    def phone_number_syntax_only_with_http_info(value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PhoneNumberApi.phone_number_syntax_only ..."
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling PhoneNumberApi.phone_number_syntax_only"
      end
      # resource path
      local_var_path = "/validate/phonenumber/basic"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(value)
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PhoneNumberValidationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumberApi#phone_number_syntax_only\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
